<div class="left-side-menu">

                <div class="h-100 menuitem-active" data-simplebar="init"><div class="simplebar-wrapper" style="margin: 0px;"><div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask"><div class="simplebar-offset" style="right: 0px; bottom: 0px;"><div class="simplebar-content-wrapper" style="height: 100%; overflow: hidden scroll;"><div class="simplebar-content" style="padding: 0px;">

                    <!-- User box -->
                    <div class="user-box text-center">
                        <img src="./Dashboard 3 _ UBold - Responsive Admin Dashboard Template_files/user-1.jpg" alt="user-img" title="Mat Helme" class="rounded-circle avatar-md">
                        <div class="dropdown">
                            <a href="javascript: void(0);" class="text-dark dropdown-toggle h5 mt-2 mb-1 d-block" data-bs-toggle="dropdown">Geneva Kennedy</a>
                            <div class="dropdown-menu user-pro-dropdown">

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <i class="fe-user me-1"></i>
                                    <span>My Account</span>
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <i class="fe-settings me-1"></i>
                                    <span>Settings</span>
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <i class="fe-lock me-1"></i>
                                    <span>Lock Screen</span>
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <i class="fe-log-out me-1"></i>
                                    <span>Logout</span>
                                </a>

                            </div>
                        </div>
                        <p class="text-muted">Admin Head</p>
                    </div>

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">

                        <ul id="side-menu">

                            <li class="menu-title">Navigation</li>
                
                            <li class="menuitem-active">
                                <a href="https://coderthemes.com/ubold/layouts/material/dashboard-3.html#sidebarDashboards" data-bs-toggle="collapse">
                                    <i class="mdi mdi-view-dashboard-outline"></i>
                                    <span class="badge bg-success rounded-pill float-end">4</span>
                                    <span> Dashboards </span>
                                </a>
                                <div class="collapse show" id="sidebarDashboards">
                                    <ul class="nav-second-level">
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/index.html">Dashboard 1</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/dashboard-2.html">Dashboard 2</a>
                                        </li>
                                        <li class="menuitem-active">
                                            <a href="https://coderthemes.com/ubold/layouts/material/dashboard-3.html" class="active">Dashboard 3</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/dashboard-4.html">Dashboard 4</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li class="menu-title mt-2">Apps</li>

                            <li>
                                <a href="https://coderthemes.com/ubold/layouts/material/apps-calendar.html">
                                    <i class="mdi mdi-calendar"></i>
                                    <span> Calendar </span>
                                </a>
                            </li>

                            <li>
                                <a href="https://coderthemes.com/ubold/layouts/material/apps-chat.html">
                                    <i class="mdi mdi-forum-outline"></i>
                                    <span> Chat </span>
                                </a>
                            </li>

                            <li>
                                <a href="https://coderthemes.com/ubold/layouts/material/dashboard-3.html#sidebarEcommerce" data-bs-toggle="collapse">
                                    <i class="mdi mdi-cart-outline"></i>
                                    <span> Ecommerce </span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <div class="collapse" id="sidebarEcommerce">
                                    <ul class="nav-second-level">
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/ecommerce-dashboard.html">Dashboard</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/ecommerce-products.html">Products</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/ecommerce-product-detail.html">Product Detail</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/ecommerce-product-edit.html">Add Product</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/ecommerce-customers.html">Customers</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/ecommerce-orders.html">Orders</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/ecommerce-order-detail.html">Order Detail</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/ecommerce-sellers.html">Sellers</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/ecommerce-cart.html">Shopping Cart</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/ecommerce-checkout.html">Checkout</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li>
                                <a href="https://coderthemes.com/ubold/layouts/material/dashboard-3.html#sidebarCrm" data-bs-toggle="collapse">
                                    <i class="mdi mdi-account-multiple-outline"></i>
                                    <span> CRM </span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <div class="collapse" id="sidebarCrm">
                                    <ul class="nav-second-level">
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/crm-dashboard.html">Dashboard</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/crm-contacts.html">Contacts</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/crm-opportunities.html">Opportunities</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/crm-leads.html">Leads</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/crm-customers.html">Customers</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li>
                                <a href="https://coderthemes.com/ubold/layouts/material/dashboard-3.html#sidebarEmail" data-bs-toggle="collapse">
                                    <i class="mdi mdi-email-multiple-outline"></i>
                                    <span> Email </span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <div class="collapse" id="sidebarEmail">
                                    <ul class="nav-second-level">
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/email-inbox.html">Inbox</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/email-read.html">Read Email</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/email-compose.html">Compose Email</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/email-templates.html">Email Templates</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li>
                                <a href="https://coderthemes.com/ubold/layouts/material/apps-social-feed.html">
                                    <span class="badge bg-pink float-end">Hot</span>
                                    <i class="mdi mdi-rss"></i>
                                    <span> Social Feed </span>
                                </a>
                            </li>

                            <li>
                                <a href="https://coderthemes.com/ubold/layouts/material/apps-companies.html">
                                    <i class="mdi mdi-domain"></i>
                                    <span> Companies </span>
                                </a>
                            </li>

                            <li>
                                <a href="https://coderthemes.com/ubold/layouts/material/dashboard-3.html#sidebarProjects" data-bs-toggle="collapse">
                                    <i class="mdi mdi-briefcase-check-outline"></i>
                                    <span> Projects </span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <div class="collapse" id="sidebarProjects">
                                    <ul class="nav-second-level">
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/project-list.html">List</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/project-detail.html">Detail</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/project-create.html">Create Project</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li>
                                <a href="https://coderthemes.com/ubold/layouts/material/dashboard-3.html#sidebarTasks" data-bs-toggle="collapse">
                                    <i class="mdi mdi-clipboard-multiple-outline"></i>
                                    <span> Tasks </span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <div class="collapse" id="sidebarTasks">
                                    <ul class="nav-second-level">
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/task-list.html">List</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/task-details.html">Details</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/task-kanban-board.html">Kanban Board</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li>
                                <a href="https://coderthemes.com/ubold/layouts/material/dashboard-3.html#sidebarContacts" data-bs-toggle="collapse">
                                    <i class="mdi mdi-book-account-outline"></i>
                                    <span> Contacts </span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <div class="collapse" id="sidebarContacts">
                                    <ul class="nav-second-level">
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/contacts-list.html">Members List</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/contacts-profile.html">Profile</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li>
                                <a href="https://coderthemes.com/ubold/layouts/material/dashboard-3.html#sidebarTickets" data-bs-toggle="collapse">
                                    <i class="mdi mdi-lifebuoy"></i>
                                    <span> Tickets </span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <div class="collapse" id="sidebarTickets">
                                    <ul class="nav-second-level">
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/tickets-list.html">List</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/tickets-detail.html">Detail</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li>
                                <a href="https://coderthemes.com/ubold/layouts/material/apps-file-manager.html">
                                    <i class="mdi mdi-folder-star-outline"></i>
                                    <span> File Manager </span>
                                </a>
                            </li>

                            <li class="menu-title mt-2">Custom</li>

                            <li>
                                <a href="https://coderthemes.com/ubold/layouts/material/dashboard-3.html#sidebarAuth" data-bs-toggle="collapse">
                                    <i class="mdi mdi-account-circle-outline"></i>
                                    <span> Auth Pages </span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <div class="collapse" id="sidebarAuth">
                                    <ul class="nav-second-level">
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/auth-login.html">Log In</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/auth-login-2.html">Log In 2</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/auth-register.html">Register</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/auth-register-2.html">Register 2</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/auth-signin-signup.html">Signin - Signup</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/auth-signin-signup-2.html">Signin - Signup 2</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/auth-recoverpw.html">Recover Password</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/auth-recoverpw-2.html">Recover Password 2</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/auth-lock-screen.html">Lock Screen</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/auth-lock-screen-2.html">Lock Screen 2</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/auth-logout.html">Logout</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/auth-logout-2.html">Logout 2</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/auth-confirm-mail.html">Confirm Mail</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/auth-confirm-mail-2.html">Confirm Mail 2</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li>
                                <a href="https://coderthemes.com/ubold/layouts/material/dashboard-3.html#sidebarExpages" data-bs-toggle="collapse">
                                    <i class="mdi mdi-text-box-multiple-outline"></i>
                                    <span> Extra Pages </span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <div class="collapse" id="sidebarExpages">
                                    <ul class="nav-second-level">
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/pages-starter.html">Starter</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/pages-timeline.html">Timeline</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/pages-sitemap.html">Sitemap</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/pages-invoice.html">Invoice</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/pages-faqs.html">FAQs</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/pages-search-results.html">Search Results</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/pages-pricing.html">Pricing</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/pages-maintenance.html">Maintenance</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/pages-coming-soon.html">Coming Soon</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/pages-gallery.html">Gallery</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/pages-404.html">Error 404</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/pages-404-two.html">Error 404 Two</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/pages-404-alt.html">Error 404-alt</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/pages-500.html">Error 500</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/pages-500-two.html">Error 500 Two</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li>
                                <a href="https://coderthemes.com/ubold/layouts/material/dashboard-3.html#sidebarLayouts" data-bs-toggle="collapse">
                                    <i class="mdi mdi-cellphone-link"></i>
                                    <span class="badge bg-blue float-end">New</span>
                                    <span> Layouts </span>
                                </a>
                                <div class="collapse" id="sidebarLayouts">
                                    <ul class="nav-second-level">
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/layouts-horizontal.html">Horizontal</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/layouts-detached.html">Detached</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/layouts-two-column.html">Two Column Menu</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/layouts-two-tone-icons.html">Two Tones Icons</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/layouts-preloader.html">Preloader</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li class="menu-title mt-2">Components</li>

                            <li>
                                <a href="https://coderthemes.com/ubold/layouts/material/dashboard-3.html#sidebarBaseui" data-bs-toggle="collapse">
                                    <i class="mdi mdi-black-mesa"></i>
                                    <span> Base UI </span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <div class="collapse" id="sidebarBaseui">
                                    <ul class="nav-second-level">
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/ui-buttons.html">Buttons</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/ui-cards.html">Cards</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/ui-avatars.html">Avatars</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/ui-portlets.html">Portlets</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/ui-tabs-accordions.html">Tabs &amp; Accordions</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/ui-modals.html">Modals</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/ui-progress.html">Progress</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/ui-notifications.html">Notifications</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/ui-offcanvas.html">Offcanvas</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/ui-placeholders.html">Placeholders</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/ui-spinners.html">Spinners</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/ui-images.html">Images</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/ui-carousel.html">Carousel</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/ui-list-group.html">List Group</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/ui-video.html">Embed Video</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/ui-dropdowns.html">Dropdowns</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/ui-ribbons.html">Ribbons</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/ui-tooltips-popovers.html">Tooltips &amp; Popovers</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/ui-general.html">General UI</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/ui-typography.html">Typography</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/ui-grid.html">Grid</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li>
                                <a href="https://coderthemes.com/ubold/layouts/material/dashboard-3.html#sidebarExtendedui" data-bs-toggle="collapse">
                                    <i class="mdi mdi-layers-outline"></i>
                                    <span class="badge bg-info float-end">Hot</span>
                                    <span> Extended UI </span>
                                </a>
                                <div class="collapse" id="sidebarExtendedui">
                                    <ul class="nav-second-level">
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/extended-nestable.html">Nestable List</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/extended-range-slider.html">Range Slider</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/extended-dragula.html">Dragula</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/extended-animation.html">Animation</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/extended-sweet-alert.html">Sweet Alert</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/extended-tour.html">Tour Page</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/extended-scrollspy.html">Scrollspy</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/extended-loading-buttons.html">Loading Buttons</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li>
                                <a href="https://coderthemes.com/ubold/layouts/material/widgets.html">
                                    <i class="mdi mdi-gift-outline"></i>
                                    <span> Widgets </span>
                                </a>
                            </li>

                            <li>
                                <a href="https://coderthemes.com/ubold/layouts/material/dashboard-3.html#sidebarIcons" data-bs-toggle="collapse">
                                    <i class="mdi mdi-bullseye"></i>
                                    <span> Icons </span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <div class="collapse" id="sidebarIcons">
                                    <ul class="nav-second-level">
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/icons-two-tone.html">Two Tone Icons</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/icons-feather.html">Feather Icons</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/icons-mdi.html">Material Design Icons</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/icons-dripicons.html">Dripicons</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/icons-font-awesome.html">Font Awesome 5</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/icons-themify.html">Themify</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/icons-simple-line.html">Simple Line</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/icons-weather.html">Weather</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li>
                                <a href="https://coderthemes.com/ubold/layouts/material/dashboard-3.html#sidebarForms" data-bs-toggle="collapse">
                                    <i class="mdi mdi-bookmark-multiple-outline"></i>
                                    <span> Forms </span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <div class="collapse" id="sidebarForms">
                                    <ul class="nav-second-level">
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/forms-elements.html">General Elements</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/forms-advanced.html">Advanced</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/forms-validation.html">Validation</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/forms-pickers.html">Pickers</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/forms-wizard.html">Wizard</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/forms-masks.html">Masks</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/forms-quilljs.html">Quilljs Editor</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/forms-file-uploads.html">File Uploads</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/forms-x-editable.html">X Editable</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/forms-image-crop.html">Image Crop</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li>
                                <a href="https://coderthemes.com/ubold/layouts/material/dashboard-3.html#sidebarTables" data-bs-toggle="collapse">
                                    <i class="mdi mdi-table"></i>
                                    <span> Tables </span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <div class="collapse" id="sidebarTables">
                                    <ul class="nav-second-level">
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/tables-basic.html">Basic Tables</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/tables-datatables.html">Data Tables</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/tables-editable.html">Editable Tables</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/tables-responsive.html">Responsive Tables</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/tables-footables.html">FooTable</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/tables-bootstrap.html">Bootstrap Tables</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/tables-tablesaw.html">Tablesaw Tables</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/tables-jsgrid.html">JsGrid Tables</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li>
                                <a href="https://coderthemes.com/ubold/layouts/material/dashboard-3.html#sidebarCharts" data-bs-toggle="collapse">
                                    <i class="mdi mdi-poll"></i>
                                    <span> Charts </span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <div class="collapse" id="sidebarCharts">
                                    <ul class="nav-second-level">
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/charts-apex.html">Apex Charts</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/charts-flot.html">Flot Charts</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/charts-morris.html">Morris Charts</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/charts-chartjs.html">Chartjs Charts</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/charts-peity.html">Peity Charts</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/charts-chartist.html">Chartist Charts</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/charts-c3.html">C3 Charts</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/charts-sparklines.html">Sparklines Charts</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/charts-knob.html">Jquery Knob Charts</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li>
                                <a href="https://coderthemes.com/ubold/layouts/material/dashboard-3.html#sidebarMaps" data-bs-toggle="collapse">
                                    <i class="mdi mdi-map-outline"></i>
                                    <span> Maps </span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <div class="collapse" id="sidebarMaps">
                                    <ul class="nav-second-level">
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/maps-google.html">Google Maps</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/maps-vector.html">Vector Maps</a>
                                        </li>
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/maps-mapael.html">Mapael Maps</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li>
                                <a href="https://coderthemes.com/ubold/layouts/material/dashboard-3.html#sidebarMultilevel" data-bs-toggle="collapse">
                                    <i class="mdi mdi-share-variant"></i>
                                    <span> Multi Level </span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <div class="collapse" id="sidebarMultilevel">
                                    <ul class="nav-second-level">
                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/dashboard-3.html#sidebarMultilevel2" data-bs-toggle="collapse">
                                                Second Level <span class="menu-arrow"></span>
                                            </a>
                                            <div class="collapse" id="sidebarMultilevel2">
                                                <ul class="nav-second-level">
                                                    <li>
                                                        <a href="javascript: void(0);">Item 1</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript: void(0);">Item 2</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>

                                        <li>
                                            <a href="https://coderthemes.com/ubold/layouts/material/dashboard-3.html#sidebarMultilevel3" data-bs-toggle="collapse">
                                                Third Level <span class="menu-arrow"></span>
                                            </a>
                                            <div class="collapse" id="sidebarMultilevel3">
                                                <ul class="nav-second-level">
                                                    <li>
                                                        <a href="javascript: void(0);">Item 1</a>
                                                    </li>
                                                    <li>
                                                        <a href="https://coderthemes.com/ubold/layouts/material/dashboard-3.html#sidebarMultilevel4" data-bs-toggle="collapse">
                                                            Item 2 <span class="menu-arrow"></span>
                                                        </a>
                                                        <div class="collapse" id="sidebarMultilevel4">
                                                            <ul class="nav-second-level">
                                                                <li>
                                                                    <a href="javascript: void(0);">Item 1</a>
                                                                </li>
                                                                <li>
                                                                    <a href="javascript: void(0);">Item 2</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>

                    </div>
                    <!-- End Sidebar -->

                    <div class="clearfix"></div>

                </div></div></div></div><div class="simplebar-placeholder" style="width: auto; height: 1547px;"></div></div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="height: 160px; transform: translate3d(0px, 0px, 0px); display: block;"></div></div></div>
                <!-- Sidebar -left -->

            </div>