<div class="navbar-custom">
    <div class="container-fluid">
        <ul class="list-unstyled topnav-menu float-start mb-0">
          <li><a class="nav-link"  href="/registration">registration</a></li>
           <li><a class="nav-link" href="/feedbackform">feedbackform</a></li>
            <li><a class="nav-link" href="/employee">employee</a></li>
            <ul>           
        <div class="clearfix"></div>
    </div>
</div>